body {
    margin: 0;
    padding: 0;
    font-family: "Times New Roman", Times, serif;
}

.Logo {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #98f0ff;
    z-index: 1000;
}

.navbar {
    position: fixed;
    top: 0;
    left: 80px;
    width: calc(100% - 80px);
    background-color: #98f0ff;
    padding: 10px 0;
    z-index: 999;
}

.navbar a {
    color: rgb(31, 23, 80);
    text-decoration: none;
    font-size: 31px;
    padding: 14px 16px;
    display: inline-block;
}

.navbar a:hover {
    background: rgb(31, 23, 80);
    color: #98f0ff;
}

.Header {
    background-image: url("../images/TheTeam.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 600px 10% 100px;
}

.hover-box1 {
    background-color: #3498db;
    margin: 50px auto;
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-align: center;
    width: 30%;
    display: block;
}

.hover-box1:hover {
    transform: scale(1.2);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    text-align: center;
}

#para2 {
    font-size: 20px;
    text-align: justify;
    text-indent: 40px;
    margin-left: 20%;
    margin-right: 20%;
}

#para3 {
    color: pink;
    font-size: 30px;
    text-align: center;
}

#para4 {
    color: pink;
    font-size: 30px; 
}

.background-section {
    background-color: #E0FFFF;
    padding: 60px 10%;
}